/* colors ======================================
****************/
// $bg: rgb(166, 146, 238);
$bg: #fff;
$alt-bg: #100e1d;

$alt-color: #474bff;
$btn-text: #eee;

/* Font-colors ****************/
$font: "Poppins", sans-serif;
$text: #333;
$alt-text: #00b289;
$main-text: #49c0b6;

/* sizes ======================================
****************/
/* Sizes-margin ****************/
$xl-mg: 3.5rem;
$lg-mg: 2rem;
$md-mg: 1.5rem;
$sm-mg: 1.125rem;
$tiny-mg: 0.5rem;

/* Sizes-padding ****************/
$lg-pd: 0.8em 1.6em;
$md-pd: 0.6em 1.2em;
$sm-pd: 0.4em 0.8em;

/* sizes ======================================
****************/
$header-height: 4rem;
$radius: 0.6em;
